<!DOCTYPE HTML>
<html lang="en">
<head>
    <!--=============== basic  ===============-->
    <meta charset="UTF-8">
    <title>Kidele - Encontre o que procura!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <!--=============== css  ===============-->
    
    <!--=============== favicons ===============-->
    <link rel="shortcut icon" href="~/images/kidele/icone.ico">
</head>
<body  style="background-color:#013859">
   
    <!--loader end-->
    <div class="container" align="center">
        <!-- Main  -->
        <div id="main">

            <div style="color:#fff" class="txtNew" id="comp-irarbd0i"><h6 class="font_6" style="text-align:center;"><span class="color_11"><span style="letter-spacing:0.2em;">KIDELE.COM.BR</span></span></h6></div>
            <h4 class="font_3" style="height:25px; font-size:50px; line-height:1.2em; text-align:center; color:#fff"><span class="color_11"><span style="letter-spacing:0.25em;">EM</span></span></h4>
            <h4 class="font_3" style="height:25px; font-size:50px; line-height:1.2em; text-align:center; color:#fff"><span class="color_11"><span style="letter-spacing:0.25em;">BREVE</span></span></h4>
            <div style="color:#fff" class="txtNew" id="comp-irarbd0i"><h6 class="font_6" style="text-align:center;"><span class="color_11"><span style="letter-spacing:0.2em;">FIQUE LIGADO!</span></span></h6></div>
            @RenderBody()


        </div>
    </div>
    <!-- Main end -->
    <!--=============== scripts  ===============-->
    

</body>
</html>
